<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
>
 <filter>
  <whitelist>
   <directory suffix=".php">../Crypt/</directory>
  </whitelist>
 </filter>
</phpunit>
